/* General Styles */
:root {
   --font-primary: "Anton", cursive;
   --font-secondary: "Open Sans", sans-serif;
    --text-clr: #333;
    --dark-blue: #345995;
    --light-blue: #4392F1;
    --clr-red: #D7263D;
    --clr-yellow: #EAC435;
    --clr-orange: #F46036;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-secondary);
    font-size: 15px;
    background-color: white;
    color: var(--text-clr);   
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-weight: normal;
}
h1 {
    font-size: 110px;
}
h2 {
    font-size: 30px;

}

.spacer .v20 {
    height: 20px;
}
.spacer .v40 {
    height: 40px;
}
.spacer .v80 {
    height: 80px;
}

.clear {
    clear: both;
}

#promo,
#susccribe,
#footer {
    text-align: center;
    color: #fff;
    min-width: 1000px;
}
#promo {
    background-color: #F46036;
}
#promo >div {
    padding: 15px;
}
.wrap { 
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}
#topmenu {
    height: 60px;
}#toplinks {
    float: right;
    padding-top: 20px;
}
#toplinks ul,
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}
#toplinks li {
    float: left;
}
#toplinks li a {
    color: #333;
    text-align: center;
    padding: 16px;
    text-decoration:none;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
#toplinks li a:hover {
    color: #4392F1;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    text-decoration: underline;
}

#topmenu .logo {
    float:left;
    padding-top: 13px;
    font-size: 24px;
    color: #333;
    text-decoration: none;

}
#topmenu .logo:hover {
    color: #4392F1;
}
.logo {
    font-family: var(--font-primary);
}

#banner {
    background-image: url(/assets/images/fish3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    text-align: center;
    padding-top: 300px;
    color: #333;
}
#banner .logo {
    margin-top: 20px;
}
#banner #action {
    font-weight: bold;
    width: 200px;
    margin: 20px auto 0 auto;

}

#banner #action a {
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background-color: #4392F1;

}

#banner #action a:hover {
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    background-color: #F46036;
    padding: 20px 40px;

}

.feature .leftcolumn {
    width: 50%;
    float: left;
    text-align: center;
}

.feature .rightcolumn {
    margin-left: 50%;
    width: 50%;
    text-align:center
}
.feature .leftcolumn .text, .feature .rightcolumn .text {
    padding: 80px 20px 20px 20px;
    min-height: 260px;
}

.feature .leftcolumn .text .a, .feature .rightcolumn .text .a {
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    padding: 20px;
    background-color: #4392F1;
    color: white;
    text-decoration: none;
    border-radius: 30px;
}

.feature .leftcolumn .text .a:hover, .feature .rightcolumn .text .a:hover {
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    background-color: #F46036;
    text-decoration: none;
    padding: 20px 40px;

}

.feature hr {
    background-color: #333;
    height: 1px;
    border: 0;
    width: 50px;
}
.featureimage img {
    width: 500px;
}

.feature .leftcolumn .text a.emaillink, .feature .rightcolumn .text a.emaillink {
    color: white;
    text-decoration: none;
    transition: none;
    padding: 10px;
    border: 0;
    background-color: #4392F1;
}

.feature .leftcolumn .text a.emaillink:hover, .feature .rightcolumn .text a.emaillink:hover {
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    background-color: #F46036;
}

.middleimage {
    text-align: center;
}

.middleimage img {
    max-width: 1000px;
}

#scrolltotop {
    display: none;
    opacity: .5;
    background-color: #F46036;
    padding: 0 20px;
    color: white;
    width: 26px;
    font-size: 40px;
    line-height: 48px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 1px solid white;
    border-radius: 30px;
}
#scrolltotop:hover {
    opacity: 1;
    -webkit-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    transition: all 250ms linear;
    cursor: pointer;
}
.contactmap {
    width: 100%;
    height: 400px;
}

#subscribe {
    background-color: #4392F1;
    height: 160px;
    padding-top: 40px;
}

#subscribe h2 {
    margin: 15px 0 20px 0;
    color: white;
    font-size: 24px;
    font-family: var(--font-secondary);
    font-weight: bold;
}
#subscribe input [type=text] {
    border: 0;
    width: 250px;
    height: 38px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 30px;

}
#subscribe input [type=submit] {
    border: 0;
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: #345995;
    color: white;
    border-radius: 30px;
    -webkit-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    cursor: pointer;
}

#subscribe input [type=submit]:hover {
    background-color: #F46036;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;

}

#footer {
    background-color: #F46036;
    height: 80px;
}

#footer ul {
    list-style-type: none;
    margin: 28px 0 0 0;
    padding: 0;
    overflow: hidden;
    display: inline-block
}
#footer li {
    float: left;
}

#footer li a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    -webkit-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    transition: all 250ms linear;

}

#copyright {
    text-align: center;
    background-color: #345995;
    color: white;
    height: 40px;
    padding-top: 18px;
    font-size: 16px;
}